{% extends 'base/base.html' %}

{% block content %}
    {% load socialaccount %}
    {% load permissions_tags %}
    {% if user|has_permission:'view_category' %}
        <div class="container mt-5">
            <div class="row mb-3">
                <div class="col">
                    {% if user|has_permission:'create_category' %}
                        <a href="{% url 'crear_categoria' %}" class="btn btn-primary">Agregar Categoria</a>
                    {% endif %}
                </div>
            </div>
            <table class="table table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for categorias in page %}
                    <tr>
                        <td>{{ categorias.id }}</td>
                        <td>{{ categorias.nombre }}</td>
                        <td>{{ categorias.descripcion }}</td>
                        {% if categorias.is_active is True %}
                            <td>ACTIVO</td>
                        {% else %}
                            <td>INACTIVO</td>
                        {% endif %}
                        <td>
                            {% if user|has_permission:'edit_category' %}
                            <a href="{% url 'editar_categoria' categorias.id %}" class="btn btn-sm btn-primary">Modificar</a>
                            {% endif %}
                            <a href="{% url 'mas_informacion_categoria' categorias.id %}" class="btn btn-sm btn-primary">Mas Informacion</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    {% else %}
        <h3>No tiene permiso para ver categorias</h3>
    {% endif %}
{% endblock %}