{% extends 'base/base.html' %}

{% block content %}
    {% load permissions_tags %}
    {% if user|has_permission:'view_category' %}
        <div class="container">
            <h5 style="margin-bottom: 30px;">Status:
                {% if categoria.is_active %}
                    <span class="badge badge-success">Activo</span>
                {% else %}
                    <span class="badge badge-danger">Inactivo</span>
                {% endif %}
            </h5>
            <div class="d-flex flex-row justify-content-between">
                <div>
                    {% if user|has_permission:'edit_category' %}
                        <a href="{% url 'editar_categoria' categoria.id %}" class="btn btn-sm btn-primary">Modificar</a>
                    {% endif %}
                </div>
                <div class="mr-auto">
                    {% if user|has_permission:'inactivate_category' %}
                        <form method="post" action="{% url 'inactivar_categoria' categoria.id %}">
                            {% csrf_token %}
                            {% if categoria.is_active %}
                                <button type="submit" class="btn btn-sm btn-danger">Inactivar</button>
                            {% else %}
                                <button type="submit" class="btn btn-sm btn-success">Activar</button>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
                <div>
                    <div class=""></div>
                    <a href="{% url 'crear_contenido' %}" class="btn btn-sm btn-primary">Agregar Nuevo Contenido</a>
                </div>
            </div>

            <div class="subcategorias">
                <div class="d-flex justify-content-between mt-5 mb-3">
                    <div class="p-2"><h5>Subcategorias agregadas</h5></div>
                    {% if user|has_permission:'create_category' %}
                        <div class="p-2"><a href="{% url 'crear_subcategoria' %}" class="btn btn-sm btn-primary mr-auto" style="margin-bottom: 10px;">Agregar Nueva Subcategoría</a></div>
                    {% endif %}
                </div>

                <table class="table table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Activo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for subcategoria in subcategorias %}
                    <tr>
                        <td>{{ subcategoria.id }}</td>
                        <td>{{ subcategoria.nombre }}</td>
                        {% if subcategoria.is_active is True %}
                                <td>ACTIVO</td>
                            {% else %}
                                <td>INACTIVO</td>
                            {% endif %}
                        <td>
                            {% if user|has_permission:'edit_category' %}
                                <a href="{% url 'editar_subcategoria' subcategoria.id %}" class="btn btn-sm btn-primary">Modificar</a>
                            {% endif %}
                            <a href="{% url 'mas_informacion_subcategoria' subcategoria.id %}" class="btn btn-sm btn-primary">Más Información</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="usuarios">
                <div class="d-flex justify-content-between mt-5 mb-3">
                    <div class="p-2"><h5>Miembros del equipo</h5></div>
                    {% if user|has_permission:'add_user' %}
                        <div class="p-2"><a href="{% url 'agregar_usuario' categoria.id %}" class="btn btn-sm btn-primary mr-auto" style="margin-bottom: 10px;">Agregar Usuario</a></div>
                    {% endif %}
                </div>

                <table class="table table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user_role in users_roles %}
                    <tr>
                        <td>{{ user_role.user.username }}</td>
                        <td>{{ user_role.role }}</td>
                        <td>
                            {% if user|has_permission:'delete_user' %}
                                <a class="btn btn-sm btn-danger" href="{% url 'quitar_usuario' user_role.id %}">Quitar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h3>No tiene permiso para ver categorias. Será redirigido en unos segundos.</h3>
        <script>
            setTimeout(function() {
                window.history.back();
            }, 3000); // Redirect the user back after 3 seconds
        </script>
    {% endif %}
{% endblock %}