{% extends 'base/base.html' %}

{% block content %}
        {% load permissions_tags %}
        <div class="container">
            <h5 style="margin-bottom: 30px;">Status:
                {% if subcategoria.is_active %}
                    <span class="badge badge-success">Activo</span>
                {% else %}
                    <span class="badge badge-danger">Inactivo</span>
                {% endif %}
            </h5>
            <div class="row">
                {% if user|has_permission:'edit_category' %}
                    <a href="{% url 'editar_subcategoria' subcategoria.id %}" class="btn btn-sm btn-primary">Modificar</a>
                {% endif %}
                {% if user|has_permission:'inactivate_category' %}
                    <form method="post" action="{% url 'inactivar_subcategoria' subcategoria.id %}">
                        {% csrf_token %}
                        {% if subcategoria.is_active %}
                            <button type="submit" class="btn btn-sm btn-danger">Inactivar</button>
                        {% else %}
                            <button type="submit" class="btn btn-sm btn-success">Activar</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
            <br>
            <br>
{#            <h5>Permisos agregados</h5>#}
{#            <table class="table table-bordered">#}
{#                <thead class="thead-light">#}
{#                    <tr>#}
{#                        <th>#</th>#}
{#                        <th>Name</th>#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for permision in role.permissions.all %}#}
{#                <tr>#}
{#                    <td>{{ permision.id }}</td>#}
{#                    <td>{{ permision.name }}</td>#}
{#                </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
        </div>
{% endblock %}