{% extends 'base/base.html' %}

{% block content %}

    <div class="container">
        <div class="d-flex flex-row">
            {% for subcategoria in subcategorias %}
                <div class="d-inline-flex p-2">
                    <a href="#" class="btn btn-outline-primary btn-sm">{{ subcategoria }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="content-list">
            {% for contenido in contenidos %}
                <a href="{% url 'ver_contenido' contenido.id %}">
                    <div class="flex-container">
                        <div class="flex-item">
                            <h3>{{ contenido.nombre }}</h3>
                            <p class="cat-sub">{{ contenido.subcategoria.categoria }} - {{ contenido.subcategoria }}</p>
                            <div class="interactions">
                                <i class="fa-solid fa-thumbs-up int-icon" style="color: #ffffff;">  22</i>
                                <i class="fa-solid fa-comment int-icon" style="color: #ffffff;">  15</i>
                                <i class="fa-solid fa-share int-icon" style="color: #ffffff;">  30</i>
                            </div>
                        </div>
                        <div class="flex-item">
                            <p class="autor">{{ contenido.autor.username }}</p>
                            <p class="date-time">{{ contenido.fecha_creacion }}</p>
                        </div>

                        <!-- Add more items as needed -->
                    </div>
                </a>
                <hr class="bottom-line">
            {% endfor %}
        </div>
    </div>


{% endblock %}