{% extends 'base/base.html' %}

{% block content %}

    <div class="container">
        <div class="d-flex flex-row">
            {% for subcategoria in subcategorias %}
                <div class="d-inline-flex p-2">
                    <a href="{% url 'ver_subcategoria' subcategoria.id %}" class="btn btn-outline-primary btn-sm">{{ subcategoria }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="content list-group list-group-flush p-md-3 ml-lg-5 mr-lg-5">
            {% for contenido in contenidos %}
                <a class="content list-group-item list-group-item-action rounded mb-2" href="{% url 'ver_contenido' contenido.id %}">
                    <div class="d-flex justify-content-between mr-lg-5">
                        <h3 class="mb-1">{{ contenido.nombre }}</h3>
                        <small>{{ contenido.autor.username }}</small>
                    </div>
                    <div class="d-flex justify-content-between mr-lg-5">
                        <p class="mb-1 cat-sub">{{ contenido.subcategoria.categoria }} - {{ contenido.subcategoria }}</p>
                        <small>{{ contenido.fecha_publicacion }}</small>
                    </div>
                    <div class="interactions">
                        <i class="fa-solid fa-thumbs-up int-icon" style="color: #ffffff;"> {{ contenido.cantidad_me_gusta }}</i>
                        <i class="fa-solid fa-comment int-icon" style="color: #ffffff;">  {{ contenido.cantidad_comentarios }}</i>
                        <i class="fa-solid fa-share int-icon" style="color: #ffffff;">  {{ contenido.cantidad_compartir }}</i>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>


{% endblock %}