<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CMS-Home Page</title>
    <!-- Agregar enlaces a los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% load socialaccount %}
    {% load has_group %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if user.is_authenticated %}
                    <p>Ingresaste como {{ user.email }}</p>
                    {%if user|has_group:"cms_admin" %}
                        <p>Es un Administrador</p>
                    {% else %}
                        {%if user.id|is_subscribed %}
                            <p>Es subscriptor</p>
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'account_logout' %}" class="btn btn-primary">Cerrar Sesion</a>
                {% else %}
                    <h3>Iniciar</h3>
                    <div class="socialaccount_ballot">
                        <a class="btn btn-primary" href="{% provider_login_url "google" %}">Login con google</a>
                    </div>
                    {% include "socialaccount/snippets/login_extra.html" %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Agregar enlaces a los archivos JavaScript de Bootstrap (jQuery y Popper.js) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>