<!DOCTYPE html>
<html>
    <head>
        <title>CMS - Usuarios</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        {% load permissions_tags %}
        <div class="container mt-5">
            <h3>{{ usuario.email }}</h3>
            <p><strong>Status:</strong>
                {% if usuario.is_active %}
                    <span class="badge badge-success">Activo</span>
                {% else %}
                    <span class="badge badge-danger">Inactivo</span>
                {% endif %}
            </p>
            <div class="row">
                {% if user|has_permission:'asign_roles' %}
                    <a href="{% url 'asignar_rol_usuario' usuario.id %}" class="btn btn-sm btn-primary">Asignar roles</a>
                {% endif %}
            </div>
            <br>
            <br>
            <h5>Roles de Usuario</h5>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Rol</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                <tr>
                    <td>{{ role.id }}</td>
                    <td>{{ role.role.name }}</td>
                    {% if role.category is None %}
                        <td> Es un rol de sistema </td>
                    {% else %}
                        <td>{{ role.category }}</td>
                    {% endif %}
                    <td>
                        {% if role.role.name != 'Admin'  %}
                            <a href="{% url 'desasignar_rol_usuario'  role.id %}" class="btn btn-sm btn-danger">Quitar</a>
                        {% else %}
                            {% if user.email != usuario.email %}
                                 <a href="{% url 'desasignar_rol_usuario'  role.id %}" class="btn btn-sm btn-danger">Quitar</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Include Bootstrap scripts if needed -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>