{% extends 'base/base.html' %}

{% block content %}
    <div class="container mt-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media}}
            {% for field in form %}
            <div class="form-group">
                <div><label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}: </label></div>
                {{ field }}
            </div>
            {% endfor %}
            <div class="row justify-content-center">
                <input type="submit" class="btn btn-info btn-lg" value="Create" />
            </div>
        </form>
    </div>
{% endblock %}