{% extends 'base/base.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="d-flex justify-content-between">
            <div class="d-inline-flex">
                <h1>{{ contenido.nombre }}</h1>
            </div>
            <div id="status" class="d-inline-flex mr-5">
                <h4>Estado: {{ contenido.get_estado_display }}</h4>
            </div>
        </div>
        <div class="post-content">
            {{ contenido.cuerpo|safe }}
        </div>

        <div id="acciones">
            {% if contenido.estado == 'borrador' %}
                <div class="d-flex">
                    <a href="{% url 'editar_contenido' contenido.id %}" class="btn btn-primary">Editar</a>
                </div>

            {% elif contenido.estado == 'revision' %}
                <div class="d-flex flex-row">
                    <div class="d-inline-flex p-2">
                        <form method="POST" action="{% url 'rechazar_contenido' contenido.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Rechazar</button>
                        </form>
                    </div>
                    <div class="d-inline-flex p-2">
                        <form method="POST" action="{% url 'aprobar_contenido' contenido.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Aprobar</button>
                        </form>
                    </div>

                </div>
            {% endif %}
        </div>
    </div>



{% endblock %}