{% extends 'base/base.html' %}

{% block content %}
    {% load permissions_tags %}

    {% has_category_permission user categoria "create_content" as autor %}
    {% if autor %}
        <div class="container">
            <h2>Elige una plantilla</h2>
            <div class="row">
                {% for plantilla in plantillas %}
                <div class="col-md-4 mb-3">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title"> {{ plantilla.descripcion }}</h5>
                            <br>
                            <a href="{% url 'crear_contenido' categoria plantilla.id %}" class="btn btn-light">Seleccionar</a>
                            <a href="{% url 'previsualizar' plantilla.id %}" class="btn btn-light">Previsualizar</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h2>No tiene permisos para crear contenido.</h2>
    {% endif %}

{% endblock %}