{% extends 'base/base.html' %}

{% block content %}
    {% load permissions_tags %}

    <div>
        <a href="{% url 'ver_categoria' contenido.subcategoria.categoria.id %}">{{ contenido.subcategoria.categoria }}</a>
        >
        <a href="{% url 'ver_subcategoria' contenido.subcategoria.id %}">{{ contenido.subcategoria }}</a>
    </div>

    <div class="container mt-5">
        <div class="d-flex justify-content-between">
            <div class="d-inline-flex">
                <h1>{{ contenido.nombre }}</h1>
            </div>

            <div class="d-flex flex-row justify-content-end">
                {% if user.is_authenticated and not user|has_role:"Suscriptor" %}
                    <div class="d-inline-flex p-2">
                        <h5>Estado: {{ contenido.get_estado_display }}</h5>
                    </div>
                    {% if contenido.estado != 'REVISION' or contenido.estado == 'INACTIVO' %}
                        <div class="d-inline-flex p-2">
                            <a href="{% url 'inactivar_contenido' contenido.id %}" class="btn btn-danger">Inactivar</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
          
          <form action="{% url 'denunciar_contenido' contenido.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Denunciar</button>
            </form>
        </div>
        <div class="post-content mt-3">
            {{ contenido.cuerpo.html|safe }}
        </div>
        <div class="content-data">
            <small>
                Escrito por: {{ contenido.autor.username }}<br>
                {% if contenido.estado == 'PUBLICADO' %}
                    Publicado: {{ contenido.fecha_publicacion }}
                {% endif %}
            </small>
        </div>

        <div id="acciones">
            {% if contenido.estado == 'BORRADOR' %}
                <div class="d-flex flex-row justify-content-end mr-5">
                    <div class="d-inline-flex p-2">
                        <a href="{% url 'enviar_edicion' contenido.id %}" class="btn btn-primary">Enviar a Edición</a>
                    </div>
                    <div class="d-inline-flex p-2">
                        <a href="{% url 'editar_contenido' contenido.id %}" class="btn btn-primary">Editar</a>
                    </div>
                </div>

            {% elif contenido.estado == 'EDICION' %}
                <div class="d-flex flex-row justify-content-end mr-5">
                    <div class="d-inline-flex p-2">
                        <a href="{% url 'enviar_revision' contenido.id %}" class="btn btn-primary">Enviar a Revisión</a>
                    </div>
                    <div class="d-inline-flex p-2">
                        <a href="{% url 'editar_contenido' contenido.id %}" class="btn btn-primary">Editar</a>
                    </div>
                </div>

            {% elif contenido.estado == 'REVISION' %}
                <div class="d-flex flex-row">
                    <div class="d-inline-flex p-2">
                        <form method="POST" action="{% url 'rechazar_contenido' contenido.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Rechazar</button>
                        </form>
                    </div>
                    <div class="d-inline-flex p-2">
                        <form method="POST" action="{% url 'aprobar_contenido' contenido.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Aprobar</button>
                        </form>
                    </div>

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
